

$color_1: #fff;
$color_2: white;
$color_3: #8e4cb6;
$color_4: rgb(218, 211, 211);
$color_5: #726cee;
$color_6: rgb(255, 255, 255);
$color_7: #502f8d;
$color_8: #e0ca2d;
$color_9: #4bb0da;
$font-family_1: 'Roboto', sans-serif;
$background-color_1: #181818;
$background-color_2: #262626;
$background-color_3: #726cee;
$background-color_4: #413b3b;
$background-color_5: #8c3fbd;
$background-color_6: #222121;