#vynilics-compras {
  text-align: center;
  padding: 40px 12px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/icon-arrow-down.svg);

  h2 {
    color: #8e4cb6;
    padding-bottom: 2rem;
  }
}
